span {
    display: block;
    width: 100%
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-family: 'Teleindicadores1Regular';
    font-weight: normal;
    font-style: normal;
    
}

h2 {
    font-family: 'Teleindicadores1Regular';
    font-weight: normal;
    font-style: normal;
    
}

p {
    font-style: italic;
}

.header-search {
    width: 300px;
}

.header-title {
    width: 50%;
}

/*.main-content{
    display:inline-flex;
} */

.main-card {
    height: 390px;
}

.close-price {
    font-size: 40px;
    padding: 10px;
}

.close {
    font-size: 20px;
    padding: 5px;
}

.other-prices {
    font-size: 20px;
    padding: 10px;
}

.other-price-titles {
    font-size: 15px;
    padding: 5px;
}

.news-title {
    background-color: #006064;
    overflow: auto;
    padding: 10px;
    font-size: 24px;
}

.ticker-div {
    text-align: center;
}

.card-image>img {
    width: 100%;
    height: auto;
}

.news {
    height: 475px;
    overflow: hidden;
}

    
@media screen and (min-width: 992px) {
    .main-card {
        height: 210px;
    }
}

@media screen and (max-width: 992px) {
    .news-title {
        font-size: 20px;
    }
}

